<div class="cont">
  <div class>
      <div>
        <h1>Juegos:</h1>
      </div>
      <div class="subtitulos">
      </div>
      <div class="card">
        <div class=" card  ">
          <button  class="btn" (click)="tablero()">
            <p class="">Tablero</p>
             </button>
        </div>
        <div class=" card  ">
          <button  class="btn" (click)="tablero()">
            <p class="">Tablero</p>
             </button>
        </div>
        <div class=" card  ">
          <button  class="btn" (click)="tablero()">
            <p class="">Tablero</p>
             </button>
        </div>
        <div class=" card  ">
          <button  class="btn" (click)="tablero()">
            <p class="">Tablero</p>
             </button>
        </div>
        <div class=" card  ">
          <button  class="btn" (click)="tablero()">
            <p class="">Tablero</p>
             </button>
        </div>
    </div>
  </div>

</div>
