<div class="cont">
<h1 class="leaderboard__title"><span class="leaderboard__title--top"></span><span class="leaderboard__title--bottom">CARTAS</span></h1>
<main class="leaderboard__profiles">
  <div *ngFor="let item of cards;">
    <article class="leaderboard__profile">
      <img [src]="item.uri" alt="Mark Zuckerberg" class="leaderboard__picture">
      <span class="leaderboard__name">{{item.nombre}}</span>
      <button>EDITAR</button>
      <span class="leaderboard__value">{{item.poder}}</span>
    </article>
  </div>
</main>
</div>
