<div class="cont">
  <h1 class="bienvenido">
    Bienvenido
  </h1>
    <div class="sombras card-content">
    </div>
    <div class="pregunta">
      <h3>¿Deseas crear una partida?
        ¡Haz click en el siguiente botón!
      </h3>
      <button class="btn" (click)="crearJuego()">Crear Juego</button>
    </div>
    <div class="sombras card-content">
    </div>
  <div class="pregunta">
    <button class="btn" (click)="gameListed()">Consultar Juegos Creados</button>
    <button class="btn" (click)="onClick()">Cerrar Sesión</button>
  </div>
</div>
