<div class="cont">
  <main class="leaderboard__profiles">
    <h2>JUEGOS</h2>
    <h4 class="textgame">Juegos no iniciados</h4>
    <div *ngFor="let item of gamesNoStarted; let i = index">
      <article class="leaderboard__profile">
        <img
          src="../../../../assets/escudoicon.png"
          alt="Mark Zuckerberg"
          class="leaderboard__picture"
        />
        <h3>Juego # {{ i + 1 }}</h3>
        <button class="btn" (click)="startGame(item.id)">ENTRAR</button>
        <h3>Jugadores [{{ item.cantidadJugadores }}]</h3>
      </article>
    </div>
    <h4 class="textgame">Juegos iniciados</h4>
    <div *ngFor="let item of gamesStarted; let i = index">
      <article class="leaderboard__profile">
        <img
          src="../../../../assets/escudoicon.png"
          alt="Mark Zuckerberg"
          class="leaderboard__picture"
        />
        <h3>Juego # {{ i + 1 }}</h3>
        <button class="btn" (click)="startGame(item.id)">ENTRAR</button>
        <h4>Jugadores [{{ item.cantidadJugadores }}]</h4>
      </article>
    </div>
  </main>
</div>
