<div class="cont">
  <h1 class="bienvenido">Bienvenido</h1>
  <div class="sombras card-content"></div>
  <div class="pregunta">
    <h3>¿Deseas crear una partida? ¡Haz click en el siguiente botón!</h3>
    <a class="text-900"  routerLink="/create">
      <button class="btn">Crear Juego</button>
    </a>
  </div>
  <div class="sombras card-content"></div>
  <div class="pregunta">
    <a class="text-900"  routerLink="/gamelist">
      <button class="btn">Consultar Juegos Creados</button>
    </a>

    <a class="text-900"  routerLink="/login">
      <button class="btn">Cerrar Sesión</button>
    </a>
  </div>
</div>
