
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cont{
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  ),
  url("https://img.freepik.com/vector-gratis/fondo-marco-comico_79603-1915.jpg?w=1380&t=st=1662733143~exp=1662733743~hmac=fa60a0cf12b9491d345bc9002c4d44f9ef0e6e4f55ae88799ad488110f1268d1")
    center;
background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cuadro{
  font-family:'Franklin Gothic Medium';
  margin: auto;
  width: 30em;
  height: 15em;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-radius: 5px;
  text-align: center;
  position: relative;
}

