<div class="titulo">
    <div class="icontext">
      <h2 class="titulotext">
        <img class="iconos" rel="icon" src="../assets/wolverine.png" />
        <img class="iconos" rel="icon" src="../assets/escudoicon.png" />
        MARVEL CARD GAME
        <img class="iconos" rel="icon" src="../assets/spiderman.png" />
        <img
          class="iconos"
          rel="icon"
          type="image/x-icon"
          src="../assets/ant-man.png"
        />
      </h2>
    </div>
</div>
<router-outlet></router-outlet>
