  <div class="cont">
    <div
      class="grid flex m-0 justify-content-center animate__animated animate__fadeIn"
    >
      <div class="col md:col-8 xl:col-6">
        <ng-template pTemplate="header">
          <div class="p-2 text-left"></div>
        </ng-template>
        <form
          id="formUsers"
          [formGroup]="formUsers"
          (submit)="formUsers.valid && createGame()"
        >
          <p-listbox
            [options]="users"
            formControlName="user"
            aria-placeholder="Buscar jugador"
            [metaKeySelection]="true"
            [checkbox]="true"
            [filter]="true"
            [multiple]="true"
            optionLabel="displayName"
            [listStyle]="{ 'max-height': '250px' }"
            filterPlaceHolder="Buscar jugador"
            filterBy="displayName, email"
            optionDisabled="disable"
          >
            <ng-template let-user pTemplate="item">
              <div
                class="w-full country-item flex justify-content-between flex-wrap"
              >
                <div class="flex align-items-center">
                  <div class="ml-2">
                    {{ user.displayName | titlecase }}
                    <span *ngIf="user.onLine && user.disable">(Jugando)</span>
                  </div>
                </div>
                <div class="flex align-items-center">
                  <div [class]="getClaseOnline(user)"></div>
                </div>
              </div>
            </ng-template>
          </p-listbox>
          <div class="mt-5 color-message font-bold" *ngIf="formUsers.invalid">
            {{ formUsers.get("user")?.getError("minPlayer") }}
          </div>
          <button
            [disabled]="formUsers.invalid"
            type="submit"
            class="btn"
          >
            Crear juego nuevo
          </button>
        </form>
      </div>
    </div>
  </div>
